body {
  overflow: auto;
  display: block;
}
.centered {
  position: absolute;
  top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
} 
header {
 float: left;
 margin-left: 75%;
}
.header-text {
  font-size: .9em;
  color: gray;
  padding: 0px 15px 0px 15px;
}
div header table tr td table tr td {
  background-color: gray;
  height: 2px;
  width: 2px;
  border: none;
}
#gmail-link, #images-link {
  color: gray;
  text-decoration: none;
}
#gmail-link:hover, #images-link:hover {
  text-decoration: underline;
}
body div header table tr td table:hover {
  background-color: black;
}
/*
#bell {
  text-align: center;
  font-weight: bold;
  width: 30px;
  padding: 5px;
  font-size: 1.5em;
  border-radius: 50%;
  background-color: gray;
}
#bell:hover {
  color: white;
  background-color: black;
}
#bell-link {
  color: white;
  text-decoration: none;
} */
#spacer {
  padding: 5px;
} 
#sign-in {
  font-size: .9em;
  padding: 8px 18px;
  background-color: blue;
  border-radius: 3px;
  border: none;
}
#sign-in-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.logo {
}
textarea {
  font-size: 1.25em;
  resize: none;
}
#search-area {
  top-margin: 15px;
}
#google-search {
  text-align: center;
  height: 2em;
  width: 550px;
  margin-top: 165px;
  border: .05em solid gray;
}
#google-search:hover {
  border: .05em solid black;
}
#search-buttons {
  margin-top: 145px;
}
#button1, #button2 {
  font-weight: bold;
  color: #666666;
  border: none;
  background-color: #f2f2f2;
  padding: 13px;
  border-radius: 1px;
}
#button1:hover, #button2:hover {
  color: black;
}
#button2 {
  margin-left: 10px;
}
.wrapper{
  max-height: 1000px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: #f2f2f2;
  border-top: 1px solid #d9d9d9;
}
#left-foot {
  margin-top: 10px;
  float: left;
}
#right-foot {
  float: right;
  margin-top: 10px;
  margin-right: 30px;
}
body footer ul li {
  color: gray;
  font-size: .9em;
  display: inline;
  padding: 0px 15px;
}
body footer ul li a {
  display: inline-block;
  text-decoration: none;
  color: gray;
}
